body {
    background-color: rebeccapurple;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

input[type="radio"] {
    margin-top: 15px;
    margin-right: 8px;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
}

.box-shadow {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}