{% extends "base.html" %}

{% block content %}
    <div id="block-confirmation">

        {% if email_utilisateur %}
            <p id="succes"> Succès ! </p>
            <a id="crochet"><img src="{{ url_for('static', filename='images/checkmark.png') }}" alt="Checkmark"></a>
            <p id="message-confirmation">L'email de confirmation a bien été envoyé à {{ email_utilisateur }}</p>
            <p id="remerciements">Merci pour votre participation !</p>
            {% if personality %}
                <p id="personality">Votre type de personnalité principal est {{ personality }}</p>
            {% endif %}
        {% else %}
            <p id="message-confirmation">Une erreur est survenue : Email non spécifié.</p>
        {% endif %}

    </div>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/confirmation.css') }}">
{% endblock %}
