{% extends "base.html" %}

{% block content %}
<body>
    <div id="block-confirmation">

        {% if user_email %}
            <p id="succes">Succès!</p>
            <a id="crochet"><img src="{{ url_for('static', filename='images/checkmark.png') }}" alt="Checkmark"></a>
            <p id="message-confirmation">Le email de confirmation a bien été envoyé à {{ user_email }}</p>
            <p id="remerciements">Merci pour votre achat!</p>
        {% else %}
            <p id="message-confirmation">Une erreur est survenue : Email non spécifié.</p>
        {% endif %}

    </div>
</body>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/confirmation.css') }}">
{% endblock %}
