{% extends "base.html" %}

{% block content %}
<form action="{{ url_for('soumettre') }}" method="post">
    <label for="prenom">Prenom</label>
    <input type="text" id="prenom" name="prenom" required>

    <label for="nom">Nom de Famille</label>
    <input type="text" id="nom" name="nom" required>

    <label for="numero_telephone">Numero de Téléphone</label>
    <input type="text" id="numero_telephone" name="numero_telephone" required>

    <label for="courriel">Adresse Courriel</label>
    <input type="text" id="courriel" name="courriel" required>

    <label for="voiture">La Marque de la Voiture</label>
    <input type="text" id="voiture" name="voiture" required>

    <p>Le toit doit-il être changé en noir ?</p>
    <div class="toggle-group">
        <input type="radio" id="peinture_toit_oui" name="peinture_toit" value="oui" required>
        <label for="peinture_toit_oui" class="toggle toggle_oui">Oui</label>

        <input type="radio" id="peinture_toit_non" name="peinture_toit" value="non" required>
        <label for="peinture_toit_non" class="toggle toggle_non">Non</label>
    </div>

    <p>Les trims sont-ils à peinturer ?</p>
    <div class="toggle-group">
        <input type="radio" id="peinture_trim_oui" name="peinture_trim" value="oui" required>
        <label for="peinture_trim_oui" class="toggle toggle_oui">Oui</label>

        <input type="radio" id="peinture_trim_non" name="peinture_trim" value="non" required>
        <label for="peinture_trim_non" class="toggle toggle_non">Non</label>
    </div>

    <div id="couleur"></div>

    <label for="etoiles">Le nombre d'étoiles :</label> <br>
    <select id="etoiles">
        <option value="450">450 étoiles</option>
        <option value="550">550 étoiles</option>
        <option value="550m">550 étoiles et les météores</option>
        <option value="650">650 étoiles</option>
        <option value="650sm">650 étoiles, réaction au son et les météores</option>
        <option value="830s">830 étoiles et réaction au son</option>
        <option value="900m">900 étoiles et les météores</option>
        <option value="1100s">1100 étoiles et réaction au son</option>
    </select> <br><br>

    <input type="submit" value="Envoyer">
</form>
<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}">    
<script src="{{ url_for('static', filename='js/form.js') }}"></script>
{% endblock %}